{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}

    <h1> Edit</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(form.name) }}
    {{ form_row(form.plz) }}
    {{ form_row(form.ort) }}
    {{ form_row(form.telefon) }}
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_row(form.roles) }}
    {% endif %}
    {{ form_widget(form._token) }}
{#    <input type="hidden" name="token" value="{{ csrf_token('edit_item') }}"/>#}

    <button type="submit" class="btn">Edit</button>
    {{ form_end(form,{'render_rest': false}) }}
{% endblock %}